

.tile-grid {
  display: grid;
  grid-template-columns: repeat(5, 240px);
  grid-template-rows: repeat(5, 180px);
  grid-auto-flow: column;
  grid-gap: 0;
}

.tile-grid .cell {
  border: 2px rgba(128, 128, 128, 0.5) solid;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

}

/* 2d forest tile art top down */
.tile-type-forest {
  background: url("./assets/forest_tile.png");
  background-repeat: repeat;
  background-size: 32px;
}

.tile-type-water {
  background: url("./assets/water_tile.png");
  background-repeat: repeat;
  background-size: 20px;
}

.tile-type-farmland {
  background: url("./assets/farm_tile.png");
  background-repeat: repeat;
  background-size: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


p {
  padding: 0;
  margin: 0;
}